



body{
    background-color:black;
  margin: 0 auto;
  padding: 0 auto;
    
   
}
.maincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 900px;
    width:1000px;
background-color: grey;
margin: 0 auto;
}

.left-container{
    background-color:rgba(4, 2, 41, 0.521);
    text-align: center;
    padding: 30px;
    width: 30%;
    
    

    

}


.horizantal-line{
    border: 1px solid white;
}






.left-container ul li a{
    text-decoration: none;
    color: black;
}
.left-container a:hover{
    color: white;
    cursor: pointer;
}
.pic{
    border: 2px inherit solid;
    height: 200px;
    border-radius: 100%;
    width: 200px;
    margin-left: 50px;
    background-image: url(mypic.jpg);
    background-size: cover;
    background-position:top;
}
 .left-container h3{
    border:1px black solid;
    border-radius: 4px;
    display: inline-block;
    padding: 10px;
    background-color: grey;
    


    
   
}
.left-container ul li {
    list-style: none;
    text-decoration: none;
    line-height: 2;
}
.right-container{
    padding:50px;
    
    
}

.right-container h3{
    border: none;
}
.education{
    padding: 50px 0;
}
.education ul {
    list-style: none;
}